body {
  font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom right, #BFF089, #6FD6FF);
}

/*.item {
  height: 2000px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #fff;
}*/
.item {
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #fff;
}

.bg-red {
  background-color: #F44336;
}

.bg-pink {
  background-color: #E91E63;
}

.bg-purple {
  background-color: #9C27B0;
}

.bg-indigo {
  background-color: #3f51b5;
}

.bg-blue {
  background-color: #2196F3;
}

.bg-cyan {
  background-color: #00bcd4;
}

.bg-teal {
  background-color: #009688;
}

.bg-green {
  background-color: #4caf50;
}

.bg-lime {
  background-color: #CDDC39;
}

.bg-amber {
  background-color: #FFC107;
}

.bg-deepOrange {
  background-color: #ff5722;
}
table.b {width:100%; margin-bottom:100px; border-spacing: 15px;}
td.a { color:black; text-align:left; border: 15px solid rgba(200,0,0,0); background-color: rgba(255,255,255,0.5);}
.terem {font-style: italic;}

/*div.alul { width:100%; padding:20px; text-align: center; background-color:#232121; color:white; height: 100%; border-top:4px solid white}
table.c {margin:auto; border-spacing: 50px; width: 100%}*/
div.alul { padding:20px; text-align: center; background-color:#232121; color:white; height: 100%; border-top:4px solid white}

img {margin:20px;}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}
a {font-style:bold; color: black;}
a:hover {color:white}
